@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1180px !important;
  }
}

.primary-btn-g {
  background-image: linear-gradient(to left, #dc22ff, #7b83fe);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.primary-btn-g:hover {
  background-image: linear-gradient(to right, #dc22ff, #7b83fe);
}

.text-gradient {
  background: #7b83fe;
  background: linear-gradient(to right, #7b83fe 0%, #dc22ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------Loading CSS---------------------- */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ec4d26;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -----------------hero_wrap------------- */
.hero_wrap {
  background-image: url(/assets/images/hero/hero_bg.gif);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

/* --------------------Header------------------- */
.main_menu ul li {
  position: relative;
}

.main_menu ul li a {
  display: flex;
  align-items: center;
  font-size: 15px;

  transition: all 0.3s;
}

.main_menu ul li a:hover {
  color: #7b83fe;
}

.mega_dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  background: #fff;
  padding: 10px;
  border-radius: 7px;
  color: #4f4f50;

  position: absolute;
  right: 0;
  width: max-content;

  opacity: 0;
  pointer-events: none;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(-10deg) translateZ(0)
    translate3d(0, 0px, 0) !important;
  will-change: transform, box-shadow;

  transition: all 0.3s ease;
}

.mega_dropdown ul li a {
  padding: 5px 10px;
}

.mega_dropdown_show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: perspective(999px) rotateX(0deg) translateZ(0)
    translate3d(0, 10px, 0) !important;
}
.mobile_menu,
.menu_close_btn {
  display: none;
}

/* -------------Header Responsive-------------- */
@media only screen and (max-width: 800px) {
  .mobile_menu {
    display: block;
  }

  .menu_close_btn {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .main_menu {
    position: fixed;
    background: #fff;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    color: #4f4f50;
    padding: 20px;
    overflow-y: auto;

    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .main_menu_show {
    transform: translateX(0%);
  }

  .main_menu ul {
    flex-direction: column;
    gap: 16px;
  }

  .main_menu ul li a {
    font-size: 16px;
    width: max-content;
  }

  .mega_dropdown {
    grid-template-columns: repeat(1, 1fr);

    padding: 0px;
    gap: 0px;
  }

  .mega_dropdown {
    height: 0px;
    overflow-y: auto;
    position: relative;
  }

  .mega_dropdown_show {
    height: max-content;
  }
}

/* ------------------featured_class-------------------- */
.featured_class_card {
  height: 250px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 2px 2px 8px 160px rgba(0, 0, 0, 0.2);
  position: relative;
}

.featured_class {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  object-fit: cover;

  transition: all 0.4s ease;
}

.featured_class_1 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}
.featured_class_2 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}
.featured_class_3 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}
.featured_class_4 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}
.featured_class_5 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}
.featured_class_6 {
  background-image: linear-gradient(0deg, #00000078, #00000078),
    url(/assets/images/blogs/blogs.jpg);
}

.featured_class_card:hover .featured_class {
  transform: scale(1.2);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
